:root {
    --primary-color: #80a546;
    --secondary-color: #ECEBF3;
    --text-color: #FFF;
    --text-color-hover: #FFF;
    --text-color-active: #FFF;
}

body {
    display: flex;
    flex-direction: column;
    background-color: burlywood;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

a {
    color: #00B7FF;
}

#matches {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#matches section {
    background-color: crimson;
    color: white;
    margin: 5px;
    padding: 5px;
}

main {
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 60%;
    display: block;
    margin: 0 auto;
    padding-left: 20px;
}

header {
    display: block;
    width: 100%;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 150px;
}

nav {
    width: 100%;
    margin: 0 auto;
    background: var(--primary-color);
    padding: 50px 0;
    box-shadow: 0 5px 0 #dedede;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
}

nav ul li a, nav ul li a:after, nav ul li a:before {
    transition: all .5s;
}

nav ul li a:hover {
    color: #555;
}

nav.shift ul li a {
    position:relative;
    z-index: 1;
}

nav.shift ul li a:hover {
    color: #91640F;
}

nav.shift ul li a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: #F1C40F;
    opacity: 0;
    z-index: -1;
}

nav.shift ul li a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

footer {
    margin-top: 50px;
    flex: 1 0 auto;
    padding: 10px 20%;
    background-color: coral;
    height: 10%;
    color: white;
    text-align: right;
}

#defaultCanvas0 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}